# KNN Regressor

In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the tips data
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# splitting the data into X and y to predict the tips on the other all variables
X = df.drop('tip',axis=1)
y = df['tip']

In [4]:
# here to first to encode the data using labelencoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# here to encode the object and category using for loop
for col in X.columns:
    if X[col].dtype == 'object' or X[col].dtype == 'category':
        X[col] = le.fit_transform(X[col])

In [5]:
# train test split the data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
# call the knnregressor
from sklearn.neighbors import KNeighborsRegressor
# model 
model = KNeighborsRegressor(n_neighbors=5,metric='minkowski',p=2)
# fit thr model on traing data
model.fit(X_train,y_train)
# prediction of X_test
y_pred = model.predict(X_test)

In [6]:
# evaluating the model 
from sklearn.metrics import mean_squared_error,r2_score

print(f'MSE : {mean_squared_error(y_test,y_pred)}')
print(f'r2_square : {r2_score(y_test,y_pred)}')
print(f'RMSE : {np.sqrt(mean_squared_error(y_test,y_pred))}')

MSE : 0.8382265306122448
r2_square : 0.3294034029001649
RMSE : 0.9155471209130881

In [7]:
X_test.head()

     total_bill  sex  smoker  day  time  size
24        19.82    1       0    1     0     2
6          8.77    1       0    2     0     2
153       24.55    1       0    2     0     4
211       25.89    1       1    1     0     4
198       13.00    0       1    3     1     2

In [8]:
# prediction of a spcific value
model.predict([[19.82,1,0,2,0,2]])

c:\Users\hp\miniconda3\envs\python_ml\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([2.782])